body {
    background-color: azure;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    line-height: 1.6em;
}

#boxes-2 {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: lightgray;
    color: lightcoral;
    border-style: double;
    padding: auto;
    border-radius: 10px;
  }
  
  .box-4 {
    border-style: dashed;
  }
  
  .box-5 {
    border-style: dashed;
  }
  
  .box-6 {
    border-style: dashed;
  }